$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

.pinmap {
    width:100%;
    height:400px;
    background:#ccc;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    
}
